extends layout
block js
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chat.js')

block content
  h1= title
  p Welcome to #{title}

  textarea(id="texto")
  button(id="send") Send
