extends layout
block js
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/login.js')
block content
    p#username #{User}
    form(method='POST' action='/add-contact' class='form-signin')
        label(for='Email') Email:
        input#email.form-control(type='text' placeholder='Email (example@example.com)' name='email' required='true' value=(undefined===email ? '' : email) )
        button.btn.btn-primary(type='submit' id="submitBtt") Submit

    - for (var i = 0; i < userEmail.length; ++i) {
      a(href=userLink[i])=userEmail[i]
      br
    - }

