<html>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            
                            <!-- Email -->
                            <div class="logreg-forms">

                                <form  class="form-signin" action="" method="post">

                                <label for='Email' >Email:</label><br>
                                    <!-- revisar esta linea -->
                                <input #email.form-control type="text" name="Email"  class="form-control" placeholder='Email (example@example.com)'  required='true' undefined===email ? '' : email  >
                            </div>
                               
                             <!-- Contraseña -->
                            
                            <div class="logreg-forms">

                                <label for='Pass'>Password:</label><br>

                                <input #pass.form-control type="password" name="pass" class="form-control" required='true'>

                            </div>

                            <div class="form-group">
                                <label for="remember-me" class="text-info" ><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn.btn-primary " value="submit">
                            </div>

                            <!-- Cambiar Contraseña -->
                            <div id="Change-pass" class="text-right">
                                <a href="#" class="text-info">Change password here</a>
                            </div>
                            <!-- Registrarse -->
                            <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>    
</html>